// Customizing Bootstrap variables

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/OpenSans-Regular.ttf');
}

$font-family-sans-serif: 'Open Sans', -apple-system, system-ui,
  BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !default;

$theme-colors: (
  'dark': #303841,
  'secondary': #3a4750,
  'danger': #d72323,
  'light': #eeeeee,
  'primary': #d72323,
);

// Import to Bootstrap set changes
@import '~bootstrap/scss/bootstrap';

// Min height for footer
body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
}
.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
